@using Microsoft.AspNetCore.Authentication



<br />
<br />

                                            <div id="dgData"></div>

@section Scripts {


<script>
var dgData = $("#dgData").dxDataGrid({
                    dataSource: {
                        store: DevExpress.data.AspNet.createStore({
                            "key": "Id",
                            "loadUrl": "/home/GetList",
                            "insertUrl": "/home/SaveAdd",
                            "updateUrl": "/home/SaveUpdate",
                            "deleteUrl": "/home/delunit"
                        })
                    },
                    keyExpr: "Id",
                    editing:{allowAdding:true, allowDeleting:true, allowUpdating:true},
                    columns: ["Name","Code","IsActive"],
                    paging: { enabled: true, pageSize: 10 },
                    pager: { showPageSizeSelector: true, allowedPageSizes: [10, 20, 50, 100], showInfo: true },

                            
                        }).dxDataGrid("instance");
</script>                                            
                                            
}